<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div>
            {% block multi_tenant_content %}
            {% endblock multi_tenant_content %}
        </div>
    </body>
</html>
