{% extends "MultiTenantBundle::layout.html.twig" %}

{% block multi_tenant_content %}
<ul>
  {% for tenant in tenants %}
    <li><a href="{{ path(redirect_route) }}?tenant_id={{ tenant.id }}">{{ tenant.name }}</a></li>
  {% endfor %}
</ul>
{% endblock multi_tenant_content %}
